@charset "UTF-8";

*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body{
    
    height: 100%;

}


:root{
    --cor-subtitulo: #79bde9;
    --cor-p-saibamais: #f99d1c;
    --cor-segundo-subtitulo: #1458a3;
}

.interacao{
    color: var(--cor-subtitulo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

a.interacao:hover{
    color: aqua;
}

header input[type=search]{
    height: 35px;
    border: 1px solid rgb(197, 196, 196);
}

header input[type=search]::placeholder{
    color: rgb(197, 196, 196);
    padding-left: 10px;
}

header input[type=search]:focus{
    outline: none;
}


header a, header input[type=search]{
    margin: 20px 15px;
}

div.flex-container{
    display: flex;
    align-items: center;
    justify-content: right;
}

div.flex-container-logo{
    display: flex;
    background-image: url('../media/logo1.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: right;
}

div.flex-container-logo:hover{
    cursor: pointer;
}


ul.flex-container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}



ul.flex-container-nav > li{
    margin: 0px 30px 0 10px;
    list-style: none;
    font-size: 16px;
    font-weight: 900;
    color: grey;
}

ul.flex-container-nav > li:hover{
    color: var(--cor-subtitulo);
    cursor: pointer;
}


p.logotipo{
    position: absolute;
    top: 130px;
     left: 80px;
    color: var(--cor-subtitulo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    
}

nav > ul > button{
    background-color: var(--cor-subtitulo);
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 100px;
    border: 1px solid var(--cor-subtitulo);
    margin-right: 15px;
    border-radius: 30%;


}


nav > ul > button:hover{
    background-color: var(--cor-segundo-subtitulo);
    cursor: pointer;
}


.flex-container-nav1{
    position: absolute;
    top: 130px;
    left: 870px;
}

video{
    position: relative;
    width: 100%;
    margin:  20px auto;
    display: block;
    object-fit: cover;
    height: 500px;   
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-weight: bolder;
    top: 300px;
}

#texto-na-imagem1{
    position: absolute;
    top: 230px;
    left: -79px;
}

pre > p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: justify;
    margin: -60px 0 0 37px;
}

button#doar-video{
    position: absolute;
    top: 570px;
    left: 30px;
    background-color: var(--cor-subtitulo);
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 100px;
    border: 1px solid var(--cor-subtitulo);
    border-radius: 30%;
}

button#doar-video:hover{
    background-color: var(--cor-segundo-subtitulo);
    cursor: pointer;
}

button#faca-sua-parte{
    width: 100%;
    padding: 22px;
    margin: -20px 0;
    background-color: var(--cor-subtitulo);
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--cor-segundo);
    font-size: 16px;
}

button#faca-sua-parte:hover{
    color: var(--cor-segundo-subtitulo);
    cursor: pointer;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 650px;
    line-height: 25px;
}

section.section-importancia-dos-ecossistemas{
    margin: 100px 50px;
    display: inline-block;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: var(--cor-subtitulo);
    margin-bottom: 50px;
    font-size: 30px;
}


h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: var(--cor-p-saibamais);
    letter-spacing: 4px;
}

section.section-importancia-dos-ecossistemas > pre > h3{
    margin-top: 20px;
}

img{
   position: absolute;
   top: 840px;
   left: 799px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.781);
   
}

picture > p{
    font-style: italic;
    position: absolute;
    left: 830px;
    width: 500px;
    font-size: 14px;

}

hr{
    border: 1px solid rgb(214, 211, 211);
    
}




/*
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: var(--cor-p-saibamais);
}

*/

